.customer-modal-container {
  width: 100%;
  margin: 0 auto;
  //max-width: var(--content-max-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  z-index: 1;
  filter: drop-shadow(-3px 3px 2px rgba(0, 51, 161, 0.16));
}

.customer-modal-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 10;
    
}

.customer-modal {
  border: 1px solid #d2d3d5;
  padding: 4rem;
  background-color: white;
  border-radius: 8px;
  position: relative;
  opacity: 1;
  filter: drop-shadow(-3px 3px 2px rgba(0, 51, 161, .3));

  &__header {
    margin-bottom: 2rem;
    display: flex;
  }

  &__close {
    position: absolute;
    padding: .2rem;
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: 4rem;
    top:  4rem;
    color: var(--primary-color);
  }
}

.customer-selection-container {
  display: flex;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #d2d3d5;
  text-decoration: none;

  &__dropdown-container {
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
  }

  &__button {
    padding: 14px 34px !important;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-left: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    text-decoration: none;

    &:hover {
      border-color:#753900;
    }

    &__arrow {
      font-size: 20px;
    }

  }
}

.customer-link {
  text-decoration: none;
}

.customer-details-container {

  &__id {
    font-family: var(--numberFont);
  }
}
