.product-content-container {
    flex: 1;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--product-card-gap);
}

.hierarchy-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--product-card-gap);
}