.product-card {
  width: calc(
    (100% / var(--numberOfProductsPerRow)) - var(--product-card-gap) +
      (var(--product-card-gap) / var(--numberOfProductsPerRow))
  );
  border-bottom: 2px solid #e5eaf5;
  padding-bottom: 2rem;
  margin-bottom: calc(var(--product-card-gap) / 2);

  &__image {
    width: 100%;
    height: 150px;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__title {
    color: #000;
    font-weight: 600;
    margin-bottom: 0.2rem;
    min-height: 2.8em;
    max-height: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    cursor: pointer;
    text-decoration: none;

    & a {
      text-decoration: none;
      color: #000;
    }
  }

  &__part-number {
    margin-bottom: 0.2rem;
  }

  &__delivery {
    color: #a8a9ab;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__price-container {
    font-weight: bold;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    color: var(--primary-color);

    &__amount {
      font-size: 1.8rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }

    &__each {
      font-size: 12px;
    }
  }

  &__footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    &__details-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__details-link {
      font-weight: 500;
      margin-top: 2rem;
      font-size: 14px;
      cursor: pointer;

      & a {
        display: flex;
        color: var(--primary-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__filter-button {
      background-color: var(--primary-color);
      font-size: 12px;
      color: white;
      padding-block: 1rem;
      padding-inline: 0.6rem;
      white-space: nowrap;
      border: none;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.amount-container {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1rem;

  &__number {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }

  &__button-container {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8px;
      color: var(--primary-color);
    }
  }
}
