.product-base-selection-header {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #5A5B5D;
    cursor: pointer;

    &__base {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom: 2px solid #5A5B5D;
        padding-bottom: .3rem;
        padding-top: 1rem;
    }

    &__directory {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom: 2px solid #5A5B5D;
        padding-bottom: .3rem;
        padding-top: 1rem;
    }

    &__active {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 2px;
        border-bottom: 3px solid var(--primary-color);
        font-weight: 600;
    }
}