.product-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--content-max-width);
    margin-bottom: 2rem;
}

.pages-container {
    padding-inline: 1.4rem;
    padding-block: .5rem;
    background-color: var(--primary-color);
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 8px;

    &__page-number {
        color: white;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
}

.arrow-container {
    background-color: #E6EBF6;
    padding: .5em;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
        color: black;
    }
    
    &__icon {
        font-size: 24px;
    }
}