.result-content {
    color: black;

    &__title {
        font-size: 20px;
        display: flex;

        &__result {
            color: var(--primary-color);
            font-family: var(--numberFont);
            font-size: 18px;
            margin-left: .5rem;
        }
    }

    &__areas {
        display: flex;
        gap: .4rem;
        font-size: 14px;
        color: var(--primary-color);
        font-family: var(--numberFont);
    }
}
