.result-content {
    color: black;
    margin-bottom: 3rem;

    &__title {
        font-size: 20px;
        display: flex;

        &__result {
            color: var(--primary-color);
            font-family: var(--numberFont);
            font-size: 18px;

            &__text {
                color: black;
            }
        }
    }

    &__areas {
        display: flex;
        gap: .4rem;
        font-size: 14px;
        color: var(--primary-color);
        font-family: var(--numberFont);
    }
}

.result-content-search {
    border-bottom: 1px solid #5A5B5D;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}
